server:
  port: 8088
spring:
  main:
    allow-circular-references: true
  logging:
    level:
      org.springframework.ai: DEBUG
      org.springframework.web.client: DEBUG
  application:
    name: my-experimental-chat-bot
  ai:
    ollama:
      base-url: http://localhost:11434
      chat:
        model: "gemma3:4b"
        options:
          temperature: 0.7
          top-p: 0.9
      embedding:
        model: "mxbai-embed-large"
  datasource:
    url: jdbc:postgresql://localhost:5432/ragdb
    username: postgres
    password: postgres
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true